__pycache__/
*.err
*.out
*.log
*.png
*.gpw
*.traj
*.npy
**/tree/
**/.taskblaster
Moire_Potential.egg-info
**/traj_files*/*
**/gpw_files*/*
**/atoms_files*/*
**/test**
results-asr.*
gpaw.txt
dftd3_*
ase_dftd3*
more-structures
